@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

//Colors//
$darkblue-el: hsl(209, 23%, 22%);
$darkblue-bg: hsl(207, 26%, 17%);
$darkblue-text: hsl(200, 15%, 8%);
$input-color: hsl(0, 0%, 52%);
$verylight-bg: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
//Font
$font-primary: "Nunito Sans", sans-serif;
$light: 300;
$medium: 600;
$bold: 800;
